:host {
  // min-width: calc(100% - 280px);
  overflow: auto;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 50px);

}

.container {
  padding-top: 16px;
  padding-bottom: 16px;
}

app-footer {
  width: 100%;
  border-top: 1px solid grey;
  color: gray;
  text-align: center;
}
