<div class="row">
    <div id="carouselExampleSlidesOnly" class="carousel slide col-sm-10 offset-sm-1" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/img/home/crypto.jpg" class="d-block w-100" alt="slide 1" >
            </div>
            <div class="carousel-item">
                <img src="./assets/img/home/HD-wallpaper-chart-cryptocurrency-black-violet-blue-candlestick-bitcoin.jpg" class="d-block w-100" alt="slide 2">
            </div>
            <div class="carousel-item">
                <img src="./assets/img/home/wsi-imageoptim-TA-Chart1-1-1.jpg" class="d-block w-100" alt="slide 3">
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center m-5" *ngIf="killLoading">
  <mat-spinner diameter="70"></mat-spinner>
</div>


<div class="row mt-4" *ngIf="criptoCards.length > 0">
  <div class="col-sm-10 offset-sm-1">
    <div class="d-flex justify-content-around gap-4 flex-wrap" >
      <app-card-currency
      *ngFor="let card of criptoCards"
        [abreviatura]="card.symbol"
        [nome]="card.cripto"
        [moedaDeReferencia]="card.moedaDeReferencia"
        [valor]="card.preco">
      </app-card-currency>
    </div>
  </div>
</div>

<div class="text-center m-5" *ngIf="showError">
  <p class="text-info fs-3 lh-base">
    Nenhum cripto ainda <br>
    Pode listar criptos na página de configuração
  </p>
  
</div>

